nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.1rem;
    background-color: $lightBlue;
    height: 10vh;
    align-items: center;
    font-size: 1.2rem;
    font-family: $text;
}

.logo{
    display: flex;
    align-items: center;
    font-family: $titles;
    padding: 0.75rem;
    color: white;
}

.search{
    display: flex;
    margin: 1rem;
}

.search input{
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: $formShadow;
    width: 70%;
    margin-right: 1rem;
}

.search button{
    border-radius: 10px;
    font-size: .9rem;
    text-transform: uppercase;
    border: 1px solid #eee;
    background-color: transparent;
    border: none;
    padding: .1rem .5rem;
    color: #eee;
    font-weight: 500;
    box-shadow: $formShadow;
    cursor: pointer;
}

.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .2rem;
}

.actions a{
    background-color: $blue;
    color: #eee;
    padding: .4rem;
    text-transform: uppercase;
    border: 1px solid #eee;
    border: none;
    padding: .1rem .5rem;
    border-radius: 10px;
}

.actions__avatar{
    border: 1px solid #000;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
}