//Imports
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');//fonts
$titles: "Fjalla One", sans-serif, impact;
$text: "Roboto", sans-serif, impact;
//Colors
$purple:#A7C3F5;
$lightPurple: #DAC9FA;
$blue:#69B9FF;
$lightBlue:#BAD9FC;
$backGround: #F8F8F8;
//shadows
$formShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


